.add-Service form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0px ;
}
.add-Service form input, textarea{
    width: 40%;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}